<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>NGL Platform Engineering Report</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <meta property="og:title" content="NGL Platform Engineering Report" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://oe-platform-engineering-report.herokuapp.com/" />
    <meta property="og:image" content="https://s3.amazonaws.com/engineering.questlearning.org/images/report.png" />
    <meta property="og:description" content="A snapshot of what the engineering team is working on (as reflected in trello)" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:site_name" content="NGL Platform Engineering" />
  </head>
  <body>
    <div class="container">
      <div class="page-header">
        <h1>NGL Platform Engineering Report <small>Generated on <%= Time.now.strftime('%B %-d') %></small></h1>
      </div>
      <h2>Recently Depoyed</h2>
      <ul>
        <% @dashboard.deployed.each do |card| %>
          <li><a href="<%= card.url %>" target=_blank><%= card.name %></a></li>
        <% end %>
      </ul>
      <h2>Coming Up Next</h2>
      <ol>
        <% @dashboard.upcoming.each do |card| %>
          <li>
            <a href="<%= card.url %>" target=_blank><%= card.name %></a>
            <% if !card.due.nil? %>
              <span class="label label-<%= (card.due < Time.now ? 'danger' : 'success') %>"><%= card.due.strftime('%a, %B %-d') %></span>
            <% end %>
          </li>
        <% end %>
      </ol>
      <h2>In Progress</h2>
      <ol>
        <% @dashboard.working.each do |card| %>
          <li>
            <a href="<%= card.url %>" target=_blank><%= card.name %></a>
            <% if !card.due.nil? %>
              <span class="label label-<%= (card.due < Time.now ? 'danger' : 'success') %>"><%= card.due.strftime('%a, %B %-d') %></span>
            <% end %>
          </li>
        <% end %>
      </ol>
    </div>
  </body>
</html>
